body {
    margin: 0px;
    background: white;
    font-size: 18px;
    color: rgb(68, 68, 68);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p{
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
}

.container{
    width: 100%;
    /* width: 80%; */
    margin: auto;}

.name {
    float: left;
    /* margin-right: 70px; */
    margin-bottom: 12px;
    padding-top: 12px;
    color: rgb(63, 63, 105);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    }  
    
header::after {
    content: '';
    display: table;
    clear: both;}

header {
    background-color: white;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 nav li {
    display: inline-block;
    margin-left: 35px;
    margin-right: 35px;
    margin-bottom: 12px;
    padding-top: 12px;
    text-decoration: none;
 }

 nav a {
    color: rgb(63, 63, 105);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;

 }

 nav a:hover {
    background-color: whitesmoke;
    color: rgb(75, 75, 112);
    padding: 17px 19px; 
    margin: -19px;
    border-bottom-style: solid; 
    text-decoration: none;}

    .about-section {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 50px 0;
        margin-top: 1em;
    }

    .about-section .text-column {
        flex: 1;
        padding-left: 70px;
        padding-right: 70px;
        text-align: left;
    }

    .about-section .text-column h1 {
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-size: 50px;
        text-align: left;
        color: rgb(75, 75, 112);
        font-weight: bold;
    }

    .about-section .image-column {
        flex: 1;
        margin-left: 0px;
        padding-right: 70px;
    }

    .about-section img {
        max-width: 100%;
        height: 90%;
        border-radius: 8px;
        align-items: center;
        padding: 1%;
        border: 2px dashed rgb(75, 75, 112);
        border-radius: 50%;
    }

    .my-resume h1{
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-size: 50px;
        text-align: center;
        color: rgb(75, 75, 112);
        font-weight: bold;
    }

    .my-resume{
        padding: 10%;
        margin-top: 2em;
        margin-bottom: 5em;
        margin-left: 10px;
        margin-right: 10px;
    }

    .accordion-header, .accordion-button, .accordion-body, .about-text, .about-paragraph, .hero_title, .hero_desc, .nav-link, .navbar-brand, .project-header, h3, .form-label{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 17px;
        color: rgb(75, 75, 112);
        letter-spacing: 1px;
        font-optical-sizing: auto;
    }

    .headingTwo{
        color: rgb(75, 75, 112);
        font-size: 23px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
    }

    .my-resume a{
        color: rgb(75, 75, 112);
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .my-resume a:hover{
        color: rgb(140, 140, 172);
    }

    .accordion-body li {
        color:rgb(68, 68, 68)
    }

    .accordion-body a{
        color: rgb(75, 75, 112);
        font-size: 18px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .accordian-body a:hover{
        color: rgb(140, 140, 172);
    }

    .contact-me h1{
        margin-bottom: 20px;
        letter-spacing: 3px;
        font-size: 50px;
        text-align: center;
        color: rgb(75, 75, 112);
        font-weight: bold;
    }

    .contact-me {
        margin-bottom: 4em;
        line-height: 2em;
    }

    .contact-me label
        {color: rgb(75, 75, 112); 
        font-weight: bold; 
        letter-spacing: 1px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

    .contact-me textarea {
        border-radius: 0.25rem; 
        border-color: #544b75;
        width: 435px;
        border-width: 2px;
    }

    .contact-me input {
        border-radius: 0.25rem; 
        border-color: #544b75;
        width: 435px;
    }

    button[type="submit"]{
        background-color: rgb(75, 75, 112);
        color: white;
        letter-spacing: 1px;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 18px;
      }

      button[type="submit"]:hover {
        background-color: rgb(140, 140, 172);
      }

    footer{
        background-color: rgb(75, 75, 112);
        color: white;
        margin-bottom: auto;
        width: 100%;
        padding: 25px;
        }
        

    .fa-linkedin {
        background: white;
        color: rgb(75, 75, 112);
      }

    .fa-github {
        background: white;
        color: rgb(75, 75, 112);
      }
    
    .fa-google {
        background: white;
        color: rgb(75, 75, 112);
        
      }

    .fa {
        padding: 20px;
        width: 55px;
        height: auto;
        text-align: center;
        text-decoration: none;
        border-radius:50%;
        margin-left: 35px;
        margin-right: 34px;
    }
    .fa:hover{
        background: rgb(164, 164, 207);
        color: white;
    }

    body{
        transition: background-color 0.5s ease;
        background-color: white; 
        color: #333; 
    }
    
    p, h1, h2, h3, h4, h5, h6 {
        transition: color 0.5s ease; 
    }
    .dark-mode p, .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6, .dark-mode a, .dark-mode label, .dark-mode .about-section h1 {
        color: white; 
        transition: background-color 0.5s ease;
    }
    .dark-mode {
        background-color: #333;
        color: white; 
        
    }
    .dark-mode nav a, .dark-mode .name{
        color: white;
    }

    .dark-mode button[type="submit"]{
        background-color: white;
        color: #333;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
      }

    .dark-mode .about-section img {
        border-color: white;
    }

    .dark-mode header, .dark-mode footer {
        background-color: #333;
        transition: background-color 0.5s ease;
    }

    .dark-mode .fa-github, .dark-mode .fa-google, .dark-mode .fa-linkedin {
        background-color: white;
        transition: background-color 0.5s ease;
        color:#333
    }

    .dark-mode .fa:hover{
        background-color: rgb(202, 201, 201);
        transition: background-color 0.5s ease;
    }

    .button {
        text-align: center;
        margin-top: 50px;
        float: left;
        margin-left: 65px 
    }
    .toggle-btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: rgb(75, 75, 112);
        color: white; 
        text-decoration: none; 
        font-size: 18px; 
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        letter-spacing: 1px;
        border-radius: 5px;
        border: none;
    }

    .toggle-btn:hover {
        background-color: rgb(140, 140, 172);
    }

    .dark-mode .toggle-btn{
        background-color: white;
        color: #333;
    }